<div class="container">
    <div class="header">
        <h2>Datos Refaccion</h2>
    </div>
    <div class="contenido">

        <div class="fila">

            <span class="elementos">
                <label htmlFor="noParte">Numero de Parte</label>
                <input pInputText id="noParte" class="p-inputtext-sm" [(ngModel)]="refaccion.noParte" />
            </span>

            <span class="elementos">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="nombre" class="p-inputtext-sm" [(ngModel)]="refaccion.nombre" />
            </span>

            <span class="elementos">
                <label htmlFor="descripcion">Descripcion</label>
                <input pInputText id="descripcion" class="p-inputtext-sm" [(ngModel)]="refaccion.descripcion" />
            </span>

        </div>

        <div class="fila">

            <span class="elementos">
                <label htmlFor="descripcion">Modelo Impresora</label>
                <p-dropdown class="p-inputtext-sm" [options]="modelos" [(ngModel)]="refaccion.modeloImpresora"></p-dropdown>
            </span>

            <span class="elementos">
                <label htmlFor="tipo">Tipo</label>
                <p-dropdown class="p-inputtext-sm" [options]="tipos" [(ngModel)]="refaccion.tipo"></p-dropdown>
            </span>

            <span class="elementos">
                <label htmlFor="descripcion">Vida Util</label>
                <input pInputText id="descripcion" class="p-inputtext-sm" [(ngModel)]="refaccion.vidaUtil" />
            </span>
            
        </div>

    </div>
    <div class="footer">
        <div>
            <button mat-stroked-button (click)="addRefaccion()" >GUARDAR</button>
            <button mat-stroked-button (click)="cerrarDialog()">CANCELAR</button>
        </div>
    </div>
    

</div>
