.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
}

.header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 15%;
  background-color: #4dbed4;
}
.header h2{
  margin-top: 20px;
  margin-left: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  background-color: white;
}
.element{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 40%;
}
.subtitle{
  width: 100%;
  text-align: left;
  height: 20%;
}
.fila{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.campo{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
}
input, select{
  border: 1px solid #4dbed4;
  border-radius: 5px;
  height: 25px;
  width: 95%;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 15%;
  background-color: #4dbed4;
}

button:hover{
  background-color: #4dbed4;
  color: azure;
  border: 1px solid #4dbed4;
}
button{
  background-color: azure;
  color: azure;
  border: 1px solid #4dbed4;
  margin-right: 20px;
}
