.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.fila{
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

  .elemento{
    width: 80%;
    height: 95%;
  }
  
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .filtros{
    width: 60%;
  }
 

