<div class="contenedor">

  <div class="header">
      <div class="title">
          <h2>Control de Toner</h2>
      </div>

      <div class="campo">
          <input placeholder="Buscar">
      </div>
      <button class="botonMenu" mat-stroked-button>REPORTE</button>
      <button class="botonMenu" mat-stroked-button (click)="dialogReg()" >AGREGAR REGISTRO</button>

  </div>

  <div class="content">
      <table class="contenidotabla">
          <thead>
              <tr>
                  <th ></th>
              </tr>
          </thead>
          <tbody>
              <tr >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
