<div class="container">
    <div class="elemento">
        <p-panel>
            <ng-template pTemplate="header"> <span class="text-secondary font-semibold text-x2">Reportes Sistema Impresion</span>
            </ng-template>
            
            <div class="body">
                <div class="fila">
                    <div class="grid">
                        <div class="col">

                        </div>
                        <div class="col-4">
                            <p-button label="Generar Nuevo Reporte Mensual"  (onClick)="getReporteMensual()" icon="pi pi-check"></p-button>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="grid">
                        <div class="col">
                            <span>Historial de Reportes</span>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>
