<mat-toolbar color="primary" class="header">
    <mat-toolbar-row class="row">
        <span class="titulo">INVENTARIO INFOREDES</span>
        <span class="spacer"></span>
        <span class="nameUser">Bienvenido: &nbsp; Ildefonso Valenzuela</span>
        <div class="logo">
            <img src="assets/logo.png" height="35px">
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="row_nav">
        <button mat-mini-fab class="button-menu" (click)="onMenuToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <nav>
            <button class="button-menu" mat-stroked-button routerLink="/impresion">IMPRESION</button>
        
            <button class="button-menu" mat-stroked-button routerLink="/wyse">WYSE</button>
        
            <button class="button-menu" mat-stroked-button>TELEVISITAS</button>
        
            <button class="button-menu" mat-stroked-button routerLink="/jammer">JAMMER</button>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
