<mat-toolbar color="primary">

    <mat-toolbar-row class="row">
        <span>INVENTARIO INFOREDES</span>
        <span class="example-spacer"></span>
        <span class="nameUser">Bienvenido: &nbsp; <p>Ildefonso Valenzuela</p></span>
        <div class="logo">
            <img src="assets/logo.png" height="35px">
        </div>



    </mat-toolbar-row>

    <mat-toolbar-row class="row">
        <button class="button-menu"mat-icon-button (click)="onMenuToggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <nav>
            <ul>
                <li>
                    <button class="button-menu" mat-stroked-button>IMPRESION</button>
                </li>
                <li>
                    <button class="button-menu" mat-stroked-button>WYSE</button>
                </li>
                <li>
                    <button class="button-menu" mat-stroked-button>TELEVISITAS</button>
                </li>
                <li>
                    <button class="button-menu" mat-stroked-button>JAMMER</button>
                </li>
            </ul>
        </nav>

    </mat-toolbar-row>
</mat-toolbar>
