.example-spacer{
    flex: 1 1 auto;
}

.row{
    height: 40px;
    background-color: black;
    gap: 20px;
}
nav{
    width: 90%;
}

nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

nav ul li{
    list-style: none;
    background-color:  rgb(27, 33, 32);
    border-radius: 5px;
    border: 1px solid #4dbed4;
    margin-bottom: 5px;
    color:#4dbed4
}

nav ul li:hover{
    background-color: #4dbed4;
    color: rgb(27, 33, 32);
}

.logo{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 5px;
}
.nameUser{
    display: flex;
    font-size: small;
    color: white
}

.button-menu{
    color: #4dbed4;
}


