.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 103, 103);
}
 .row{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row; 
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}
.row_nav{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.spacer{
    flex: 1 1 auto;
} 

.nameUser{
    display: flex;
    font-size: small;
    color: white
}
nav {
    display: flex;
    gap: 10px;
}
nav button{
    border: 1px solid #4dbed4;
}
.button-menu {
    background-color: rgb(95, 103, 103);
}

nav button:hover{
    background-color: #4dbed4;
    color: azure;
    border: 1px solid #4dbed4;
}
.button-menu:hover{
    background-color: #4dbed4;
    color: azure;
    border: 1px solid #4dbed4;
}




