<div class="contenedor">
    <br>
    <div class="header">
        <h2>Inventario de Jammer</h2>
        <div class="button-container">
            <button mat-mini-fab>
                <mat-icon>search</mat-icon>
            </button>
        </div>
        
    </div>

    <mat-divider></mat-divider>
    
    <div class="content">
        <table class="contenidotabla">
            <thead>
                <tr>
                    <th>ID JAMMER</th>
                    <th>EDIFICIO</th>
                    <th>UBICACION</th>
                    <th>IP</th>
                    <th>MAC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TG - J01</td>
                    <td>DORMITORIO B</td>
                    <td>POSTE 03</td>
                    <td (click)="iraip()">10.222.36.86</td>
                    <td>34ea.e7ba.e83c</td>
                </tr>
                <tr>
                    <td>TG - J02</td>
                    <td>DORMITORIO B</td>
                    <td>AZOTEA EPM B</td>
                    <td>10.222.36.86</td>
                    <td>34ea.e7ba.e83c</td>
                </tr>
                <tr>
                    <td>TG - J02</td>
                    <td>DORMITORIO B</td>
                    <td>AZOTEA EPM B</td>
                    <td>10.222.36.86</td>
                    <td>34ea.e7ba.e83c</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



