<p-toast></p-toast>
<div class="contenedor">
  <p-table  #dt
            styleClass="p-datatable-sm"
            [value]="paginacionRes.data"
            [lazy]="true"
            (onLazyLoad)="loadData($event)"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="paginacionRes.totalRows"
            [loading]="cargando"
            [rowHover]="true"
            >

    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          <h2 class="m-0">Inventario Impresoras</h2>
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input  [(ngModel)]="termino" pInputText type="text" placeholder="Buscar..."  (change)="buscar()" />
          </span>
          <p-button icon="pi pi-plus-circle" (click)="openDialogEditar(null)" label="Nuevo" styleClass="p-button-text p-button-secondary mt-2"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header" style="background-color: 'red'">
      <tr>
          <th pSortableColumn="nombre" style="min-width:5rem">NOMBRE<p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="modelo" style="min-width:5rem">MODELO <p-sortIcon field="modelo"></p-sortIcon></th>
          <th pSortableColumn="serie" style="min-width:5rem">SERIE <p-sortIcon field="serie"></p-sortIcon></th>
          <th pSortableColumn="ip" style="min-width:5rem">IP<p-sortIcon field="ip"></p-sortIcon></th>
          <th pSortableColumn="edificio" style="min-width:5rem">EDIFICIO <p-sortIcon field="edificio"></p-sortIcon></th>
          <th pSortableColumn="ubicacion" style="min-width:5rem">UBICACION <p-sortIcon field="ubicacion"></p-sortIcon></th>
          <th>PING</th>
          <th>ACCIONES</th>
      </tr>
    </ng-template>


    <ng-template pTemplate="body" let-impresora>

      <tr>
          <td>{{ impresora.impresora.nombre }}</td>
          <td>{{ impresora.impresora.modelo }}</td>
          <td>{{ impresora.impresora.serie }}</td>
          <td>{{ impresora.impresora.ip }}</td>
          <td>{{ impresora.impresora.edificio }}</td>
          <td>{{ impresora.impresora.ubicacion }}</td>
          <td><p-tag [value]="impresora.mensajeImpresoraPing" [severity]="getSeverity(impresora)"></p-tag></td>
          <td>
            <button pButton pRipple icon="pi pi-info-circle"
                      class="p-button-sm p-button-rounded p-button-secondary p-button-text"
                      (click)="openDialogDetalle(impresora.impresora)" ></button>
              <button pButton pRipple icon="pi pi-pencil"
                      class="p-button-sm p-button-rounded p-button-primary p-button-text"
                      (click)="openDialogEditar(impresora.impresora)" ></button>
              <button pButton pRipple icon="pi pi-trash"
                      class="p-button-sm p-button-rounded p-button-danger p-button-text"
                      (click)="openDialogConfirmacion(impresora.impresora)" ></button>
          </td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog [(visible)]="detallesDialog" [style]="{width:'850px', height:'550px'}" [modal]="true">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Detalles Impresora {{impresoraSelected.impresora.nombre | titlecase}} </span>
  </ng-template>
    <div class="container">
      <div class="columna1">
        <p-fieldset legend="Datos del Equipo">
          <div class="contentTable">
            <table>
              <tbody>
                <tr><td><strong>Nombre:</strong></td><td>{{impresoraSelected.impresora.nombre}}</td></tr>
                <tr><td><strong>Modelo:</strong></td><td>{{impresoraSelected.impresora.modelo}}</td></tr>
                <tr><td><strong>Serie:</strong></td><td>{{impresoraSelected.impresora.serie}}</td></tr>
                <tr><td><strong>Ip:</strong></td><td><a href="http://{{impresoraSelected.impresora.ip}}" target="_blank">{{impresoraSelected.impresora.ip}}</a></td></tr>
                <tr><td><strong>Mac:</strong></td><td>{{impresoraSelected.impresora.mac}}</td></tr>
                <tr><td><strong>Edificio:</strong></td><td>{{impresoraSelected.impresora.edificio}}</td></tr>
                <tr><td><strong>Ubicacion:</strong></td><td>{{impresoraSelected.impresora.ubicacion}}</td></tr>
              </tbody>
            </table>
          </div>
        </p-fieldset>
      </div>
      <div class="columna2 " *ngIf="impresoraSelected.mensaje != 'Success'">
        <div class="card">
          <p-messages [(value)]="mensajeModelo" [enableService]="false" [closable]="false"></p-messages>
        </div>
      </div>
      <div class="columna2" *ngIf="impresoraSelected.mensaje == 'Success'">
        <p-fieldset legend="Contadores" styleClass="mb-1">
          <div class="contentTable">
            <table id="contadores">
              <thead>
                  <tr>
                      <th>Contador 102</th>
                      <th>Contador 109</th>
                      <th>Contador 124</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{impresoraSelected.cont102}}</td>
                      <td>{{impresoraSelected.cont109}}</td>
                      <td>{{impresoraSelected.cont124}}</td>
                  </tr>
              </tbody>
          </table>
          </div>
        </p-fieldset>

        <p-card>
          <div class="etiqueta">
            <span>Niveles de Toner</span>
          </div>
          <p-chart type="bar" [data]="dataGrafico" [options]="options"></p-chart>
        </p-card>

      </div>
    </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-file-edit" (click)="openRegCambioDialog()" label="Registrar Toner" styleClass="p-button-text p-button-secondary mt-2"></p-button>
    <p-button icon="pi pi-check" (click)="detallesDialog = false" label="Ok" styleClass="p-button-text p-button-secondary mt-2"></p-button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="editarDialog" [style]="{width:'600px', height:'420px'}" [modal]="true">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">{{tituloEditar | titlecase}} </span>
  </ng-template>
  <div class="container">
    <div class="col">
      <div class="inputText">
        <div class="etiq"><label htmlFor="nombre">Nombre</label></div>
        <input pInputText id="nombre" [(ngModel)]="impresoraEditar.nombre" />
      </div>
      <div class="inputText">
        <div class="etiq"><label htmlFor="modelo">Modelo</label></div>
        <input pInputText id="modelo" [(ngModel)]="impresoraEditar.modelo" />
      </div>
      <div class="inputText">
        <div class="etiq"><label htmlFor="ip">Ip</label></div>
        <input pInputText id="ip" [(ngModel)]="impresoraEditar.ip" />
      </div>
      <div class="inputText">
        <div class="etiq"><label htmlFor="edificio">Edificio</label></div>
        <input pInputText id="edificio" [(ngModel)]="impresoraEditar.edificio" />
      </div>
    </div>
    <div class="col">
      <span>
        <div [style]="{'height':'60px'}"></div>
      </span>
      <div class="inputText">
        <div class="etiq"><label htmlFor="serie">Serie</label></div>
        <input pInputText id="serie" [(ngModel)]="impresoraEditar.serie" />
      </div>
      <div class="inputText">
        <div class="etiq"><label htmlFor="mac">Mac</label></div>
        <input pInputText id="mac" [(ngModel)]="impresoraEditar.mac" />
      </div>
      <div class="inputText">
        <div class="etiq"><label htmlFor="ubicacion">Ubicacion</label></div>
        <input pInputText id="ubicacion" [(ngModel)]="impresoraEditar.ubicacion" />
      </div>

    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (onClick)="guardarCambios()"  label="Guardar" styleClass="p-button-text p-button-secondary mt-2"></p-button>
    <p-button icon="pi pi-times" (click)="editarDialog = false" label="Cancelar" styleClass="p-button-text p-button-danger mt-2"></p-button>
  </ng-template>
</p-dialog>

<p-dialog  [(visible)]="confirmarDialog" [style]="{width:'600px', height:'250px'}" [modal]="true">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Confirmación de Eliminación</span>
  </ng-template>

  <div class="card">
    <p-messages [(value)]="mensajeElim" [enableService]="false" [closable]="false"></p-messages>
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (onClick)="eliminarImp()"  label="Eliminar" styleClass="p-button-text p-button-secondary mt-2"></p-button>
    <p-button icon="pi pi-times" (click)="confirmarDialog = false" label="Cancelar" styleClass="p-button-text p-button-danger mt-2"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="regCambioDialog" [style]="{width:'600px', height:'420px'}" [modal]="true">

</p-dialog>

