
<div class="contenedor">
  <div class="header">
    <div class="title">
        <h2>Inventario Impresoras</h2>
    </div>

    <div class="campo">
        <input placeholder="Buscar">
    </div>
    <button class="botonMenu" mat-stroked-button>AGREGAR</button>

</div>

  <div class="content">

    <table  class="contenidotabla" >
      <thead>
          <tr>
              <th *ngFor="let title of titleColumns">{{title}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let impresora of dataSource">
              <td>{{impresora.impresora.nombre}}</td>
              <td>{{impresora.impresora.modelo}}</td>
              <td>{{impresora.impresora.serie}}</td>
              <td>{{impresora.impresora.ip}}</td>
              <td>{{impresora.impresora.edificio}}</td>
              <td>{{impresora.impresora.ubicacion}}</td>
              <td *ngIf="impresora.statusImpresoraPing">
                <div style="display: flex; justify-content: center; align-items: center;">
                  <mat-icon fontIcon="check_circle" style="font-size: 14px; color: green;"></mat-icon>
                </div>
              </td>
              <td *ngIf="!impresora.statusImpresoraPing">
                <div style="display: flex; justify-content: center; align-items: center;">
                  <mat-icon fontIcon="cancel" style="font-size: 14px; color: red;"></mat-icon>
                </div>
              </td>
              <td *ngIf="impresora.statusImpresoraPing">{{ impresora.fecha | date: 'mediumTime' }}</td>
              <td *ngIf="!impresora.statusImpresoraPing">---</td>

              <td class="containerCell">
                    <mat-icon class="botonInfo" id="botones"  (click)="openDialogDetalle(impresora.impresora)">info_outline</mat-icon>
                    <mat-icon class="botonAdd" id="botones">edit</mat-icon>
                    <mat-icon class="botonDelete" id="botones">delete</mat-icon>
              </td>
          </tr>
      </tbody>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions] ="[10,15,20,50]" aria-label="Select Page" ></mat-paginator>

    <!--<button mat-fab id="boton-agregar" (click)="openDialogAgregar()">
      <mat-icon>add</mat-icon>
    </button> --->
  </div>


</div>



