
<div class="contenedor">
  <div class="header">
    <div class="title">
      <h2>Inventario de Impresoras</h2>
    </div>

    <div class="elemento">
      <div class="button-container">
        <input type="text" placeholder="Buscar">
        <button class="buscar" mat-mini-fab>
            <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content">

    <table class="contenidotabla">
      <thead>
          <tr>
              <th *ngFor="let title of titleColumns">{{title}}</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>INFORMATICA</td>
              <td>4545I</td>
              <td>12345678</td>
              <td>10.222.17.240</td>
              <td>34ea.e7ba.e83c</td>
              <td>EDIFICIO DE GOBIERNO</td>
              <td>DPTO. INFORMATICA</td>
          </tr>
          <tr>
              <td>INFORMATICA</td>
              <td>4545I</td>
              <td>12345678</td>
              <td>10.222.17.240</td>
              <td>34ea.e7ba.e83c</td>
              <td>EDIFICIO DE GOBIERNO</td>
              <td>DPTO. INFORMATICA</td>
          </tr>
          <tr>
              <td>INFORMATICA</td>
              <td>4545I</td>
              <td>12345678</td>
              <td>10.222.17.240</td>
              <td>34ea.e7ba.e83c</td>
              <td>EDIFICIO DE GOBIERNO</td>
              <td>DPTO. INFORMATICA</td>
          </tr>
      </tbody>
    </table>





    <button mat-fab id="boton-agregar" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>


</div>



