<p-card [header]="titulo" [style]="{'height': '100%', 'margin-bottom': '2em', 'background-color': '#e4f8f0', 'border-radius':'0', 'border':'1px solid #4dbed4'}">
  <p-listbox [options]="elementosSidebar"
              optionLabel="titulo"
              [(ngModel)]="elementoSelect"
              (click)="enlazar(elementoSelect)"
              [style]="{'background-color': '#e4f8f0', 'color':'white'}">
    <ng-template let-elemento pTemplate="item">
      <div class="flex align-items-center gap-2">
        <i [ngClass]="elemento.icono"></i>
        <div>{{ elemento.titulo }}</div>
      </div>
    </ng-template>
  </p-listbox>
</p-card>
