<mat-card>
    <mat-card-header style="background-color: #4dbed4; color: white;">
        <mat-card-title>Agregar Impresora</mat-card-title>
    </mat-card-header>
    <form #f="ngForm" (ngSubmit)="guardarImpresora(f)">
        <mat-card-content>
          <div class="contenedor">
            <div class="campo">
              <label>Nombre</label>
              <input placeholder="Nombre">
            </div>
            <div class="campo">
              <mat-label>Modelo</mat-label>
              <input matInput placeholder="Modelo">
            </div>
            <div class="campo">
              <mat-label>Serie</mat-label>
              <input matInput placeholder="Serie">
            </div>
            <div class="campo">
              <mat-label>Ip</mat-label>
              <input matInput placeholder="Serie">
            </div>
            <div class="campo">
              <mat-label>Mac</mat-label>
              <input matInput placeholder="Serie">
            </div>
            <div class="campo">
              <mat-label>Edificio</mat-label>
              <input matInput placeholder="Serie">
            </div>
            <div class="campo">
              <mat-label>Ubicacion</mat-label>
              <input matInput placeholder="Serie">
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="actions">
   
            <button mat-stroked-button>GUARDAR</button>
            <button mat-stroked-button matDialogClose="true">CERRAR</button>
  
        </mat-card-actions>
    </form>
</mat-card>
