
<div class="container">
    <div class="header">
        <h2>{{printDetalles?.impresora?.nombre}}</h2>
    </div>
    <div class="body">
        <div class="column1">
            <h3>Datos del equipo: </h3>
            <hr>
            <table id="datos">
                <tbody>
                    <tr>
                        <td><strong>Nombre:</strong></td>
                        <td>{{printDetalles?.impresora?.nombre}}</td>
                    </tr>
                    <tr>
                        <td><strong>Modelo:</strong></td>
                        <td>{{printDetalles?.impresora?.modelo}}</td>
                    </tr>
                    <tr>
                        <td><strong>Serie:</strong></td>
                        <td>{{printDetalles?.impresora?.serie}}</td>
                    </tr>
                    <tr>
                        <td><strong>IP:</strong></td>
                        <td>{{printDetalles?.impresora?.ip}}</td>
                    </tr>
                    <tr>
                        <td><strong>MAC:</strong></td>
                        <td>{{printDetalles?.impresora?.mac}}</td>
                    </tr>
                    <tr>
                        <td><strong>Edificio:</strong></td>
                        <td>{{printDetalles?.impresora?.edificio}}</td>
                    </tr>
                    <tr>
                        <td><strong>Ubicacion:</strong></td>
                        <td>{{printDetalles?.impresora?.ubicacion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column2">
            <div class="fila1">
                <h3>Contadores:</h3>
                <hr>
                <table id="contador">
                    <thead>
                        <tr>
                            <th>Contador 102</th>
                            <th>Contador 109</th>
                            <th>Contador 124</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{printDetalles?.cont102}}</td>
                            <td>{{printDetalles?.cont109}}</td>
                            <td>{{printDetalles?.cont124}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="fila2">
                <h3>Nivel de Toner:</h3>   
                <hr> 
                <div class="contenedorGrafico">

                    <div class="elementoToner">
                        <div>
                            <h3>Toner Negro: </h3>
                        </div>
                        <div class="grafico">
                            <strong class="barraBlack" [style.width] ="nivelNegro">{{printDetalles?.blackLevel}}%</strong>
                        </div>
                    </div>

                    <div class="elementoToner" *ngIf="color">
                        <div>
                            <h3>Toner Cyan: </h3>
                        </div>
                        <div class="grafico">
                            <strong class="barraCyan" [style.width] ="nivelCyan">{{printDetalles?.cyanLevel}}%</strong>
                        </div>
                    </div>

                    <div class="elementoToner" *ngIf="color">
                        <div>
                            <h3>Toner Magenta: </h3>
                        </div>
                        <div class="grafico">
                            <strong class="barraMagenta" [style.width] ="nivelMagenta">{{printDetalles?.magentaLevel}}%</strong>
                        </div>
                    </div>

                    <div class="elementoToner" *ngIf="color">
                        <div>
                            <h3>Toner Amarillo: </h3>
                        </div>
                        <div class="grafico">
                            <strong class="barraYellow" [style.width] ="nivelAmarillo">{{printDetalles?.yellowLevel}}%</strong>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div>

        </div>
        <div>
            <button mat-stroked-button (click)="dialogRegistrar(printDetalles)">REGISTRAR TONER</button>
            <button mat-stroked-button (click)="cerrarDialog()">CERRAR</button>
        </div>
    </div>
</div>
