.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.header{
    width: 100%;
    height: 15%;
    background-color: #4dbed4;
}

.body {
    width: 100%;
    height: 70%;
    background-color: white;

}
.footer{
    width: 100%;
    height: 15%;
    background-color: #4dbed4;
}